[user]
	email = aron.bordin@gmail.com
	name = Aron Bordin
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
